@font-face {
  font-family: 'Instagram Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Instagram Sans Regular'), url('fonts/Instagram Sans.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Instagram Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Instagram Sans Light'), url('fonts/Instagram Sans Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Instagram Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Instagram Sans Medium'), url('fonts/Instagram Sans Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Instagram Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Instagram Sans Bold'), url('fonts/Instagram Sans Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Instagram Sans Headline Regular';
  font-style: normal;
  font-weight: normal;
  src: local('fonts/Instagram Sans Headline Regular'), url('fonts/Instagram Sans Headline.woff') format('woff');
  }

body {
  background-color: #FAFAFA;
  font-family: "Instagram Sans Regular"
}

p {
  margin: 0px;

}

.other-account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.other-account-image {
  background-color: black;
  height: 40px;
  width: 40px;
  border: 0px solid black;
  border-radius: 20px;
}

.suggested-image {
  background-color: skyblue;
  height: 30px;
  width: 30px;
  border: 0px solid skyblue;
  border-radius: 15px;
}

.other-account-name {
  margin-left: 18px;
  margin-right: 4px;
}

.footer-link {
  color: lightgray;
  text-decoration: none;
  font-size: 14px;
}

.stories-ribbon {
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  border: 1.5px solid rgb(234, 234, 234);
  border-radius:8px;
  width: 412px;

}

.user-story {
    color: #636363;
    background-color: rgb(153, 226, 226);
    height: 60px;
    width: 60px;
    object-fit: cover;

    border: 4px solid rgb(143, 68, 170);
    
    
    border-radius: 33px;
    
}

.user-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 20px 15px;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 48px 30px 50px 360px;
  color: #CFCEC8;
  background-color: #FFFFFF;
  height: 25px;
  width: 25px;
  border: 0px solid #FFFFFF;
  border-radius:15px;
  box-shadow: 0px 0px 15px rgb(182, 182, 182);
}

.story_ribbon_username {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.avatar {
  height: 40px;
  width: 40px;
  border: 0px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.card {
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.feed {
    display: flex;
    flex-direction: column;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

.image-container {
  position: relative;
}

.post-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #CFCEC8;
  background-color: #FFFFFF;
  height: 25px;
  width: 25px;
  border: 0px solid #FFFFFF;
  border-radius:15px;
  opacity: 0.6;
}

.post-arrow-right {
  top: 140px;
  right: 10px
}

.post-arrow-left {
  top: 140px;
  left: 10px
}

.toolbar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar-icon {
  margin-right: 14px;
  cursor: pointer
}

.toolbar-pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toolbar-pagination-dot {
  height: 8px;
  width: 8px;
  border: 0px solid black;
  border-radius: 50%;
  background-color: gray;
  margin-right: 5px
}

.phantom-container {
  display: flex;
  align-items: center;
  padding: 12px;
  justify-content: space-between;
  position: relative;
  bottom: 38px;
  margin-bottom: -38px;
}

.post-liked-by-container {
  display: flex;
  align-items: center;
  padding: 0px 0px 8px 12px;
}

.post-liked-by-image-container {
  display: flex;
  align-items: center;
}

.post-liked-by-text {
  color: gray;
  margin-left: 12px;
  font-size: 14px;
}

.post-liked-by-image {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 50%;
}

.post-description-container {
  padding: 0px 8px 0px 12px;
  max-width: 378px
}

.post-description-text {
  color: #3e3e3e;
  font-size: 14px;
}

.add-comment-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-top: 1px solid lightgray;
}

.add-comment-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-comment-post-link {
  color: rgb(53 146 224 / 50%);
  font-size: 12px;
}

.add-comment-input {
  color: gray;
  margin-left: 12px;
  font-size: 14px;
  border: 0px solid white;
  background: transparent;
  outline: none;
}

.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: white;
  height: 100%;
  width: 300px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  margin: 0px 0px 40px 20px;
  cursor: pointer
}

.navbar-icon {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  cursor: pointer
}

.nav-profile-avatar {
  height: 30px;
  width: 30px;
  border: 0px solid black;
  border-radius: 50%;
  margin-right: 20px

}